<?xml version="1.0"?>
<launch>
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find lab2)/world/playground.world" />
	<node pkg="lab2" name="perception" type="perception" output="screen" />
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find lab2)/config/rviz.rviz" ouitput="screen" />
</launch>
